@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
